website-backend-getBlogPostLookup/bin/
website-backend-getBlogPostLookup/obj/
*.dll
*manifest
*pdb
*props
*CopyComplete
*cache
*exe
*testlog
*ide-shm
*ide-wal
*lock
*suo
*FileListAbsolute.txt
storage.ide
*/bin/*
*/obj/*